*{
    margin: 0px;
    padding: 0px;
}
.pagina1{
    width: 400px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 15px;
}
.texthead{
    width: 400px;
    height: 50px;
    padding: 20px;
    padding-top: 150px;
    color: white;
}
.conteiner{
    height: 600px;
    border-bottom: 2px solid black;
}
.links{
    width: 400px;
    height: 20px;
    color: blue;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}